# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/

# Runtime files
*.log
*.tmp

# Generated outputs
outputs/*
!outputs/.gitkeep

# Backup files
backup/*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env
*.env
